{% extends "base.html" %}
{% block title %}Prijava{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="mb-3 text-center">Prijava</h4>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input name="email" type="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Lozinka</label>
            <input name="password" type="password" class="form-control" required>
          </div>
          <button class="btn btn-primary w-100" type="submit">Uloguj se</button>
        </form>
        <hr>
        <p class="text-center mb-0">Nemaš nalog?
          <a href="{{ url_for('register') }}">Registruj se</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
